@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* =============== Common CSS Start Here =============== */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style-type: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

img{
    vertical-align: middle;
}

h1,h2,h3,h4,h5,h6,li,a,p,div{
    margin: 0;
    padding: 0;
}

:root{
    --poppins: 'Poppins', sans-serif;
    --manrope: 'Manrope', sans-serif;
    --colorWhite: #fff;
    --sectionHeadColor: #282938;
}
/* =============== Common CSS End Here =============== */


/* =============== Header CSS Start Here =============== */
#header{
    padding: 32px 0;
    background: #1C1E53;
}

#header .custom_navbar ul li a{
    color: #BBBBCB;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    transition: all linear 0.3s;
    margin-right: 26px;
}

#header .custom_navbar ul li a:hover{
    color: #fff;
}

#header .custom_navbar .header_btn button{
    color: var(--colorWhite);
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    border: none;
    background: transparent;
    padding: 13px 45px;
    border-radius: 41px;
    border: 2px solid rgba(244, 246, 252, 0.37);
    transition: all linear 0.3s;
    margin-left: 40px;
}

#header .custom_navbar .header_btn button:hover{
    background: #fff;
    color: #1c1e53;
}

#header .mtmb{
    padding: 207px 0px;
}

#header .banner_left h3{
    color: var(--colorWhite);
    font-family: var(--poppins);
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
    padding-bottom: 15px;
}

#header .banner_left p{
    color: var(--colorWhite);
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    padding-bottom: 35px;
    opacity: 0.7;
    margin-right: 80px;
}

#header .banner_left .view{
    color: var(--colorWhite);
    font-family: var(--manrope);
    font-size: 18px;
    font-weight: 600;
    padding: 12px 40px;
    border-radius: 41px;
    margin-right: 40px;
    transition: all linear 0.3s;
}

#header .banner_left .view:hover{
    color: #1B1C2B;
    border-radius: 41px;
    background: #FCD980;
}

#header .banner_left .pricing{
    color: var(--colorWhite);
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    padding: 12px 40px;
    border-radius: 41px;
    transition: all linear 0.3s;
} 

#header .banner_left .pricing:hover{
    color: #1B1C2B;
    border-radius: 41px;
    background: #FCD980;
}

#header .banner_left .pricing span{
    margin-left: 12px;
    margin-top: 10px;
    display: inline-block;
}
/* =============== Header CSS End Here =============== */

/* =============== Work CSS Start Here =============== */
#work{
    padding: 128px 0;
    background: #F4F6FC;
}

#work .work_left h3{
    color: #282938;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 16px;
}

#work .work_left p{
    color: #282938;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.7;
    margin-right: 10px;
    padding-bottom: 16px;
}

#work .work_left a{
    color: #2405F2;
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}

#work .work_left a span{
    color: #2405F2;
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    margin-left: 10px;
}

#work .right_work .thumbnail_icon{
    margin-bottom: 16px;
}

#work .right_work h3{
    color: #282938;
    font-family: var(--poppins);
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 8px;
}

#work .right_work p{
    color: #282938;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.7;
    margin-right: 100px;
}
/* =============== Work CSS End Here =============== */

/* =============== Project CSS Start Here =============== */
#project .project_heading h3{
    color: var(--sectionHeadColor);
    font-family: var(--poppins);
    font-size: 48px;
    font-weight: 600;
    padding-top: 10px;
}

#project .project_head_right a{
    color: #282938;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    padding-top: 20px;
}

#project .project_head_right a span{
    margin-left: 10px;
}

#project .mb_project{
    padding-bottom: 64px;
}

#project .project_left{
    position: relative;
}

#project .project_left .overley{
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    top: 0;
    left: 0;
}

#project .project_left .overley .overley_text_project{
    position: absolute;
    bottom: 10%;
    left: 10%;
}

#project .project_left .overley .overley_text_project h3{
    color: var(--colorWhite);
    font-family: var(--poppins);
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    padding-bottom: 15px;

}

#project .project_left .overley .overley_text_project p{
    color: var(--colorWhite);
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    padding-bottom: 40px;
}

#project .project_left .overley .overley_text_project a{
    color: #FCD980;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
}

#project .project_left .overley .overley_text_project a span{
    margin-left: 10px;
}


#project .right_project .right_project_image{
    position: relative;
}

#project .right_project .right_project_image .overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    width: 100%;
    height: 100%;
}

#project .right_project .right_project_image .overlay .right_overlay_text{
    position: absolute;
    left: 10%;
    top: 50%;
}

#project .right_project .right_project_image .overlay .right_overlay_text h3{
    margin-right: 100px;
    color: var(--colorWhite);
    font-family: var(--poppins);
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    padding-bottom: 10px;
}

#project .right_project .right_project_image .overlay .right_overlay_text a{
    color: #FCD980;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}

#project .right_project .right_project_image .overlay .right_overlay_text a span{
    margin-left: 10px;
}

/* =============== Project CSS End Here =============== */

/* =============== Product CSS Start Here =============== */
#product{
    padding: 128px 0;
    background: #F4F6FC;
}

#product .product_head p{
    color: #282938;
    text-align: center;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    padding-bottom: 10px;
}
#product .product_head h3{
    color: #282938;
    text-align: center;
    font-family: var(--poppins);
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    margin-bottom: 47px;
    padding: 0px 330px;
}

#product .product_item {
    padding: 58px 48px;
    background: #fff;
    cursor: pointer;
    transition: all linear 0.3s;
}

#product .product_item .product_thumbnail{
    padding-bottom: 22px;
}

#product .product_item h3{
    color: #282938;
    font-family: var(--poppins);
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 10px;
}

#product .product_item p{
    color: #282938;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
/* =============== Product CSS End Here =============== */

/* =============== Client CSS Start Here =============== */
#client{
    background: #f4f6fc;
    padding: 128px 0;
}

#client .client_left_content h3{
    color: #282938;
    font-family: var(--poppins);
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    padding-bottom: 15px;
    padding-right: 22px;
}

#client .client_left_content p{
    color: #282938;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.7;
    padding-right: 10px;
}

#client .client_right_content h3{
    color: #282938;
    font-family: var(--poppins);
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    padding-bottom: 48px;
}

#client .client_right_content .client_info{
    margin-left: 10px;
}

#client .client_right_content .client_info h3{
    color: #282938;
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    padding-bottom: 4px;
}

#client .client_right_content .client_info p{
    color: #282938;
    font-family: var(--poppins);
    font-size: 12px;
    font-weight: 500;
}
/* =============== Client CSS End Here =============== */


/* =============== FAQ CSS Start Here =============== */
#faq .faq_left_content h3{
    color: #282938;
    font-family: var(--poppins);
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    padding-bottom: 15px;
    padding-right: 194px;
}

#faq .faq_left_content a{
    color: #2405F2;
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 500;
    opacity: 0.87;
}

#faq .faq_right_content .custom_accordion_item{
    border: none;
    border-bottom: 1px solid #ECECF1;
}

#faq .faq_right_content .custom_accordion_item button{
    color: #282938;
    font-family: var(--poppins);
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

#faq .faq_right_content .custom_accordion_item .custom_accordion_button span{
    color: #2405F2;
    font-family: var(--poppins);
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin-right: 50px;
}

#faq .faq_right_content .custom_accordion_body p{
    color: #282938;
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    padding: 60px;
    opacity: 0.87;
}
/* =============== FAQ CSS End Here =============== */

/* ===============Inqiry CSS Start Here =============== */
#inqiry .inqiry_left_content{
    position: relative;
}

#inqiry .inqiry_left_content .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 103%;
    height: 100%;
    background: #1C1E5380;
}

#inqiry .inqiry_left_content .overlay .overlay_text{
    position: absolute;
    top: 15%;
    left: 15%;
}

#inqiry .inqiry_left_content .overlay .overlay_text h3{
    color: #FFF;
    font-family: var(--poppins);
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
    padding-bottom: 22px;
    padding-right: 100px;
}

#inqiry .inqiry_left_content .overlay .overlay_text p{
    color: #FFF;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    padding-right: 100px;
}

#inqiry .inqiry_right_main {
    background: #1C1E53;
    width: 100%;
    height: 95.7%;
    margin-left: -24px;
}

#inqiry .inqiry_right_main .inqiry_right_content {
    padding: 69px;
}

#inqiry .inqiry_right_main .inqiry_right_content h3{
    color: #FFF;
    font-family: var(--poppins);
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    padding-bottom: 15px;
}

#inqiry .inqiry_right_main .inqiry_right_content p{
    color: #F4F6FC;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    padding-bottom: 35px;
    padding-right: 60px;
}

#inqiry .inqiry_right_main .inqiry_right_content .custom_input{
    background: #1C1E53;
    border-radius: 8px;
    border: 1.5px solid rgba(255, 255, 255, 0.05);
    color: #F4F6FC;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding: 18px 32px;
    margin-bottom: 16px;
}

#inqiry .inqiry_right_main .inqiry_right_content .custom_input::placeholder{
    color: #F4F6FC;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.5;
}

#inqiry .inqiry_right_main .inqiry_right_content button{
    color: #1B1C2B;
    font-family: var(--manrope);
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    padding: 16px 150px;
    border-radius: 41px;
    background: #FCD980;
    margin-top: 38px;
    margin-left: 10px;
    transition: all linear 0.3s;
    border: none;
}

#inqiry .inqiry_right_main .inqiry_right_content button:hover{
    background: #e4b94d;
}

#inqiry .inqiry_right_main .inqiry_right_content a{
    color: #FFF;
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    padding-top: 28px;
    margin-left: 130px;
}

#inqiry .inqiry_right_main .inqiry_right_content a span{
    margin-left: 15px;
}
/* ===============Inqiry CSS End Here =============== */

/* =============== Blog CSS Start Here =============== */
#blog .blog_heading h3{
    color: #282938;
    font-family: var(--poppins);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    padding-bottom: 64px;
}

#blog .blog_main .blog_image{
    padding-bottom: 35px;
}

#blog .blog_main h4{
    color: #282938;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    padding-bottom: 15px;
}

#blog .blog_main h3{
    color: #282938;
    font-family: var(--poppins);
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    padding-bottom: 15px;
}

#blog .blog_main p{
    color: #282938;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 30px;
    opacity: 0.7;
    padding-right: 7px;
}

#blog .blog_main a{
    color: #282938;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}

#blog .blog_main a span{
    margin-left: 15px;
}
/* =============== Blog CSS End Here =============== */

/* =============== Footer CSS Start Here =============== */
#footer{
    background: #1C1E53;
    padding-top: 95px;
}

#footer .footer_left .footer_logo{
    margin-bottom: 22px;
}

#footer .footer_left p{
    color: var(--colorWhite, #FFF);
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    opacity: 0.8;
    padding-right: 181px;
    padding-bottom: 86px;
}

#footer .footer_left .yellow_section{
    background: #FCD980;
    padding: 17px 25px;
}

#footer .footer_left .yellow_section .headline ul li:nth-child(1) a{
    color: #282938;
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}

#footer .footer_left .yellow_section .headline ul li:nth-child(2) a{
    color: #282938;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

#footer .footer_right h3{
    color: #FFF;
    font-family: var(--poppins);
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    padding-bottom: 14px;
}

#footer .footer_right p{
    color: #F4F6FC;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.8;
    padding-right: 235px;
    padding-bottom: 28px;
}

#footer .footer_right .social_icon a:nth-child(1){
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    margin-right: 25px;
    color: #1877f2;
    transition: all linear 0.3s;
}

#footer .footer_right .social_icon a:nth-child(1):hover{
    background: #1877f2;
    color: #fff;
    transform: translateY(-30%);
}


#footer .footer_right .social_icon a:nth-child(2){
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    margin-right: 25px;
    color: #00acee;
    transition: all linear 0.3s;
}

#footer .footer_right .social_icon a:nth-child(2):hover{
    background: #00acee;
    color: #fff;
    transform: translateY(-30%);
}

#footer .footer_right .social_icon a:nth-child(3){
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    margin-right: 25px;
    color: #962fbf;
    transition: all linear 0.3s;
}

#footer .footer_right .social_icon a:nth-child(3):hover{
    background: orange;
    color: #fff;
    transform: translateY(-30%);
}

#footer .footer_right .social_icon a:nth-child(4){
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    color: #0077b5;
    transition: all linear 0.3s;
}

#footer .footer_right .social_icon a:nth-child(4):hover{
    background: #0077b5;
    color: #fff;
    transform: translateY(-30%);
}

/* =============== Footer CSS End Here =============== */

/* =============== Footer-End CSS Start Here =============== */
#footer_end{
    background: #fff;
    padding: 32px 0px;
}

#footer_end .footer_end_right ul{
    display: flex;
    column-gap: 32px;
}

#footer_end .footer_end_right ul li a{
    color: #282938;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    transition: all linear 0.3s;
}

#footer_end .footer_end_right ul li a:hover{
    color: #0077b5;
}
/* =============== Footer-End CSS End Here =============== */

/* =============== Product CSS Start Here =============== */
/* =============== Product CSS End Here =============== */
